Vcc.opensdf
Vcc.sdf
Vcc.suo
cci/
vcc/AddIn/VCCAddin/bin/
vcc/AddIn/VCCAddin/obj/
vcc/CodeModel2Vcc/bin/
vcc/CodeModel2Vcc/obj/
vcc/CodeModel2VccHelper/bin/
vcc/CodeModel2VccHelper/obj/
vcc/Core/bin/
vcc/Core/obj/
vcc/Headers/Headers.vcxproj.user
vcc/Host/VccHost.csproj.user
vcc/Host/bin/
vcc/Host/obj/
vcc/Plugins/Vcc2Plugins/DumpCodeInfo/bin/
vcc/Plugins/Vcc2Plugins/DumpCodeInfo/obj/
vcc/Runtime/bin/
vcc/Runtime/obj/
vcc/Test/Coverage/obj/
vcc/Test/Samples.vcxproj.user
vcc/Test/dummy.b2i
vcc/Test/testsuite/testsuite.log
vcc/Test/testsuite/ts_out.txt
vcc/Tools/ModelViewer/Model/bin/
vcc/Tools/ModelViewer/Model/obj/
vcc/Tools/ModelViewer/ModelViewer/bin/
vcc/Tools/ModelViewer/ModelViewer/obj/
vcc/Tools/ModelViewer/Z3ModelParser/bin/
vcc/Tools/ModelViewer/Z3ModelParser/obj/
vcc/Tools/VccSyntaxCoverter/Lexer.fs
vcc/Tools/VccSyntaxCoverter/VccSyntaxCoverter.suo
vcc/Tools/VccSyntaxCoverter/bin/
vcc/Tools/VccSyntaxCoverter/obj/
vcc/Tools/Z3Visualizer/Z3Visualizer/bin/
vcc/Tools/Z3Visualizer/Z3Visualizer/obj/
vcc/Translator/bin/
vcc/Translator/obj/
