*.suo
*.ncb
*.sdf
*.user
*.stackdump
bin
obj
_ReSharper*
VSPackage/bin/
VSPackage/obj/
Vcc.opensdf
cci/
vcc/Demo/*.i
vcc/Demo/*.vccmodel
vcc/Demo/Debug/
vcc/Docs/Tutorial/c/*.i
vcc/Docs/Tutorial/tutorial.aux
vcc/Docs/Tutorial/tutorial.log
vcc/Docs/Tutorial/tutorial.out
vcc/Docs/Tutorial/tutorial.pdf
vcc/Docs/Tutorial/vcc-tutorial-1col.pdf
vcc/Docs/Tutorial/vcc-tutorial-2col.pdf
vcc/Headers/Debug/
vcc/Plugins/Microsoft.Z3.dll
vcc/Plugins/Vcc3.dll
vcc/Plugins/Vcc3.pdb
vcc/Test/dummy.b2i
vcc/Test/testsuite/*.log
vcc/Test/testsuite/actual.txt
vcc/Test/testsuite/add-testcase.sh
vcc/Test/testsuite/cmpout
vcc/Test/testsuite/done3/
vcc/Test/testsuite/examples/*.i
vcc/Test/testsuite/expected.txt
vcc/Test/testsuite/fix
vcc/Test/testsuite/t3
vcc/Test/testsuite/tmp/
vcc/Test/testsuite/todo3/
vcc/Test/testsuite/later3/
vcc/Test/testsuite/ts_out.txt
vcc/Test/testsuite/vcopt-bug.bpl
vcc/Tools/VccSyntaxCoverter/Lexer.fs
vcc/VerifiedAssembler/Lexer.fs
vcc/VerifiedAssembler/Parser.fs
vcc/VerifiedAssembler/Parser.fsi
