<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VccModelViewer.Properties.ModelViewerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VccModelViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VccModelViewer.VccModelViewer" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VccModelViewer.ModelViewer" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VccModelViewer.Properties.ModelViewerSettings>
            <setting name="ShowAllFunctions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInconsistentStates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInternalVccVariables" serializeAs="String">
                <value>False</value>
            </setting>
        </VccModelViewer.Properties.ModelViewerSettings>
        <VccModelViewer.Properties.Settings>
            <setting name="ShowAllFunctions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInconsistentStates" serializeAs="String">
                <value>False</value>
            </setting>
        </VccModelViewer.Properties.Settings>
        <VccModelViewer.VccModelViewer>
            <setting name="FilterFunctions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterStates" serializeAs="String">
                <value>True</value>
            </setting>
        </VccModelViewer.VccModelViewer>
        <VccModelViewer.ModelViewer>
            <setting name="Hide" serializeAs="String">
                <value>False</value>
            </setting>
        </VccModelViewer.ModelViewer>
    </userSettings>
</configuration>