<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vcc2ModelViewer.Properties.ModelViewerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Vcc2ModelViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Vcc2ModelViewer.Vcc2ModelViewer" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Vcc2ModelViewer.ModelViewer" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Vcc2ModelViewer.Properties.ModelViewerSettings>
            <setting name="ShowAllFunctions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInconsistentStates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInternalVcc2Variables" serializeAs="String">
                <value>False</value>
            </setting>
        </Vcc2ModelViewer.Properties.ModelViewerSettings>
        <Vcc2ModelViewer.Properties.Settings>
            <setting name="ShowAllFunctions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInconsistentStates" serializeAs="String">
                <value>False</value>
            </setting>
        </Vcc2ModelViewer.Properties.Settings>
        <Vcc2ModelViewer.Vcc2ModelViewer>
            <setting name="FilterFunctions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterStates" serializeAs="String">
                <value>True</value>
            </setting>
        </Vcc2ModelViewer.Vcc2ModelViewer>
        <Vcc2ModelViewer.ModelViewer>
            <setting name="Hide" serializeAs="String">
                <value>False</value>
            </setting>
        </Vcc2ModelViewer.ModelViewer>
    </userSettings>
</configuration>